*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  color: $text;
  font-family: sofiaRegular;
}

ul, menu {
  margin: 0;
  padding: 0;
}
a {
  color: $text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
li {
  list-style: none;
}
h3 {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}
.Site-container {
  width: 100%;
  max-width: 1160px;
  padding: 0 $base;
  margin: 0 auto;
}
menu {
  li {
    display: inline-block;
    margin-top: 2*$base;
    margin-bottom: 2*$base;
    &:first-of-type {
      margin-right: 2*$base;
    }


  }
}
