//-----------------------------------------
// Calculate percentage - in honor of Vesslan
//-----------------------------------------
@mixin vesslan($span, $col, $margin: 0) {
  $percentage: percentage($span/$col);
  width: calc(#{$percentage} - #{$margin});
} 

////////////////////////////////
// Margin
///////////////////////////////
@mixin margin-y($m: 10px) {
  margin-top: $m;
  margin-bottom: $m;
}
