/////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////
$text: rgb(51,51,51);
$color-background: rgb(227,223,218);
/////////////////////////////////////////////
// Margin and offsets
/////////////////////////////////////////////
$base: 15px;
//////////////////////////////////////////
// FONTS
//////////////////////////////////////////
@font-face {
    font-family: sofiaRegular;
    src: url("../assets/fonts/sofia-regular.ttf");
}
