/////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////
$red: rgb(196,37,46);


$transparent-grey: rgba(0,0,0,0.7);
$text: rgb(51,51,51);


$green: rgb(30,203,74);

$color-background: #f0faf5;
$color-channel: #b9c3b9;
$color-event: #e6ebe6;



/////////////////////////////////////////////
// Margin and offsets
/////////////////////////////////////////////
$base-margin: 15px;
