.Event {
  display: inline-block;
  background-color: $color-event;
  border-left: 2px solid #fff;
  width: 600px;
  height: 160px;
  white-space: normal;
}
.Event-image {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  img {
    width: 100%;
    height: auto;
    margin-top: -25px;
  }
}
.Event-info {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 50%;
  height: 160px;
  padding: 10px;
  font-size: 16px;
  h3 {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.Event-description {
  font-size: 0.8rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 55px;
  &:after {
    // display: block;
    content: "... Läs mer";
    color: $green;
  }
}
.Event-timespan {
  position: absolute;
  bottom: 10px;
}

.Event-progressbar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 10px;
  background-color: gray;
  span {
    display: block;
    // width: 40%;
    height: 10px;
    background-color: $green;
  }
}
