.ParticipantFull-video-container {
  @include flex-row();
}
.ParticipantFull-video-col {
  @include flex-gtr-col(4,$base);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ParticipantFull-video-thumbnail {
  height: 200px;
  background-position: center center;
  background-size: cover;
}
